@model Dotnet31.Controllers.CheckDateViewModel
@{
    ViewData["Title"] = "CheckDate";
}

<h1>CheckDate</h1>

<h2> Date Time Kind Is : @Model.DateTimeKindString</h2>

<h2> Date  Is : @Model.Date</h2>

<h2> Date  String : @Model.DateString</h2>
